<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.dictanhvietbasic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumbersActivity"
            android:label="@string/so_number" />
        <activity
            android:name=".FamilyActivity"
            android:label="@string/gia_dinh_family" />
        <activity
            android:name=".ColorsActivity"
            android:label="@string/mau_sac_color" />
        <activity
            android:name=".AplianceActivity"
            android:label="@string/do_dung_apliance" />
        <activity
            android:name=".AnimalActivity"
            android:label="@string/dong_vat_animal"></activity>
    </application>

</manifest>